<div class="ekart--product--item">
  <div class="ekart-wishlist-sale-container">
    <div class="ekart--add--to--wishlist">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>
    <div class="ekart-on-sale-tag" *ngIf="product.discountPrice">
      {{ product.discountPrice ? product.price - product.discountPrice + " OFF" : "" }}
    </div>
  </div>
  <div class="ekart--product--image">
    <img [src]="product.imageURL" class="ekart--product--image" />
  </div>
  <div class="ekart--add--to--price">
    {{ product.price | currency : "USD" : "symbol" : "1.2-2" }}
  </div>
  <div class="ekart--product--name">{{ product.name }}</div>
  <div class="ekart--product--category">
    {{ product.gender }} . {{ product.category }} . {{ product.brand }}
  </div>
  <div class="ekart--product--available-colors"
    [ngStyle]="{ fontWeight: 'bold', color: product.is_in_inventory ? 'red' : 'green' }">
    {{ product.is_in_inventory ? "In Stock" : "Out of Stock" }}
  </div>
</div>
