.ekart--search--product{
    margin: 40px auto;
    text-align: center;
}
.ekart-search-product-input{
    width: 30%;
    height: 6.3vh;
    padding: 1px 10px;
    outline: none;
    border-radius: 5px;
    background-color: #efefef;
    border:#28282B 1px solid;
}
.btn{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-search{
    padding: 12.5px 20px;
    background-color: #28282B;
    margin-left: -5px;
    color:#fff;
}

.ekart-search-result-for{
    margin: 20px auto;
    padding: 10px 140px;
}